@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-black: #0C110F;
  --color-white: #F9F9F9;
  --color-dark-gray: #121212;
  --color-accent: #3674B5;
  --color-destructive: #FF3B30;
  --color-secondary: #4CAF50;
  --color-muted-foreground: #666666;
  --color-offset-background: #F5F5F5;

  --color-llet-50: #f0f3f4;
  --color-llet-100: #b3c1c8;
  --color-llet-150: #93a7b0;
  --color-llet-200: #78919c;
  --color-llet-300: #567583;
  --color-llet-400: #2c5364;
  --color-llet-500: #203a43;
  --color-llet-600: #1a2e36;
  --color-llet-700: #132328;
  --color-llet-800: #0f2027;
  --color-llet-900: #0c1a1f;
  --color-llet-950: #0a1519;
}

@layer components {
  .xxl-custom-container {
    @apply max-w-[1620px] mx-auto px-6 lg:px-8;
  }

}